h1 {
	text-align: center;
	top: 0;
}

button {
	position: relative;
	display: inline-block;
}

#grid-container {
	
	margin: auto;
	margin-top: 50px;
	/*width: 960px;
	height: 960px;*/ /* set dimensions for grid. */
	
}

#button-list{
	margin: auto;
	width: 227px;
}
