h1 {
	position: absolute;
	left: 750px;
	top: 0;
}

button {
	position: absolute;
	
	left: 750px;
	top: 70px;
}

#grid-container {
	
	margin: auto;
	margin-top: 100px;
	/*width: 960px;
	height: 960px;*/ /* set dimensions for grid. */
	
}

/*.grid-div {
	
	background-color: white;
	width: 6%;
	height: 700px;

	
	
}*/
